.recherche {
    margin-left: 0%;
    margin-right: 75%;
    margin-top: 3%;
    border: solid;
}
    
.checked {
    color: orange;
  }

.etoile {

    width: 50%;
    margin-left: 50%;


}

.eval {
    width: 50%;
    float: left;
}



.eval2 {
    width: 50%;
    float: left;
}

.etoile2 {

    width: 50%;
    margin-left: 50%;


}