#title{

	padding : 1em;
    text-align : center;
}


#WL
{
	float: right;
	padding-right: 1em;
	padding-top: 1em;
}


#logo{
	float: left;
	padding-left: 1em;
	padding-top: 1em;

}

#navigbar{
	clear:left;		
}

#mynavbar{
	justify-content:center;
}


#topcornL{

    clear:left;
    padding: 1em;

}
#topcornL{

    float:right;
    padding: 1em;
}

#progressbar1{

}

#progressbar2{

}



@media (max-width: 480px) {
    #inp {
    	padding: 2em;
        width: 100%;


    }
    #perm {
                padding-left: 2em;
    }
    #logo{
    	height: 15%;
 		width: 15%;
    }
    #WL{
    	padding-right: 0.5em;
		padding-top: 0.5em;
    }
    #txt{
        padding-bottom: 2em;
    }
    #grpbut{
    justify-content:center;
}
}